<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Tüm Hakları Saklıdır &copy; Programmers Blog 2023</div>
            <div>
                <a href="#">Gizlilik Politikası</a>
                &middot;
            </div>
        </div>
    </div>
</footer>